.header {
  height: 80px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background-color: $color-primary;

  &__logo {
    width: 300px;
    margin: 15px 15px;
  }

  &__nav {
    margin: 15px 15px;
  }
}

@media screen and (max-width: 992px) {
  .header {
    height: 150px;

    flex-direction: column;
  }
}
