.newComment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;

  &__content {
    display: flex;
    flex-direction: column;
    & label {
      text-align: center;
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & button {
      margin-top: 10px;
    }
  }
}
